<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>NewsHabit</title>
</head>

<body>
    <div class="content">
        <div class="newshabit">
            <img th:src="@{/img/newshabit.png}" alt="newshabit">
            <h1>NewsHabit 뉴빗</h1>
        </div>

        <!-- app store image -->
        <h2 class="title">뉴스도 습관처럼</h2>
        <p>당신의 하루는 어떤가요? 바쁜 일상 속 세상과 연결될 작은 창을 놓치고 있지는 않나요?</p>
        <p>아침에 일어나 커피를 마실 때, 출퇴근 길, 잠들기 전 조금의 여유를 가지고 세상과 소통하는 시간.</p>
        <p>우리의 일상 속 작은 습관이 큰 변화를 만듭니다. 당신의 삶 속에 새로운 습관을 심어줄 서비스, <b>뉴빗</b>입니다.</p>

        <br><br><br>
        <hr><br><br>

        <h1>팀 소개</h1>
        <div class="team">

            <div class="profile">
                <img class="profile-img" th:src="@{/img/jahoon.png}" alt="jahoon">
                <div class="profile-detail">
                    <h3>이자훈 | Backend & Infra</h3>
                    <div class="profile-message">
                        뉴빗을 통해 뉴스와 친해진 당신.... 좀 멋질지도 😎
                    </div>
                    <div class="profile-link">
                        <a href="https://github.com/SONGS4RI">🐱 Github</a>
                        <a href="https://songs4ri.vercel.app/">🙊 Blog</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile-detail">
                    <h3>구지연 | iOS</h3>
                    <div class="profile-message">
                        부담 없이 매일 찾게 되는 앱을 제공하고 싶은 마음으로 뉴빗을 개발했습니다. 여러분의 일상에 새로운 습관을 심어주기를 바라며! 🩷✨
                    </div>
                    <div class="profile-link">
                        <a href="https://github.com/noeyiz">🐱 Github</a>
                        <a href="">🎁 iBox</a>
                    </div>
                </div>
                <img class="profile-img" th:src="@{/img/jiyeon.png}" alt="jiyeon">
            </div>

        </div>

    </div>
</body>

</html>
